{% extends 'aplicacion/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h2 class="carrito-titulo">Carrito de Compras</h2>
{% if carrito_items %}
<div class="carrito-container">
    <table id="carrito-table" class="carrito-table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito_items %}
            <tr data-product-id="{{ item.id }}">
                <td>{{ item.name }}</td>
                <td>${{ item.price|floatformat:2 }}</td>
                <td>
                    <button class="decrease-quantity-btn" data-product-id="{{ item.id }}">-</button>
                    <span class="quantity">{{ item.quantity }}</span>
                    <button class="increase-quantity-btn" data-product-id="{{ item.id }}">+</button>
                </td>
                <td>${{ item.total|floatformat:2 }}</td>  {# Assuming item.total is calculated elsewhere #}
                <td>
                    <button class="eliminar-producto-btn" data-product-id="{{ item.id }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="total-container">
        <h3 id="total-general">Total: ${{ total|floatformat:2 }}</h3>
    </div>
    <div class="acciones-container">
        <button class="vaciar-carrito-btn">Vaciar Carrito</button>
        <button class="confirmar-pedido-btn">Confirmar Pedido</button>
    </div>
</div>
{% else %}
<p>Tu carrito está vacío.</p>
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/tienda.js' %}"></script>
{% endblock %}
