<!-- templates/nosotros.html -->
{% extends 'aplicacion/base.html' %}

{% block title %}B3njamin Acasio - Nosotros{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="my-4">Historia</h2>
            <p>
                B3njamin Acasio nació en el vibrante año 2024, con la visión de redefinir la experiencia de perfumeria de lujo.
                
            </p>
            <p>
                Inspirada por la pasión, por la elegancia duradera, la empresa se sumergió en el mundo de las fragancias, con el objetivo
                de trascender las convenciones y establecer un nuevo estándar de distinción.
            </p>
            <h3 class="mt-5">Misión</h3>
            <p>
                En B3njamin Acasio, nos comprometemos a crear perfumes de lujo que no solo peduren
                en el tiempo, sino que también se conviertan en expresiones únicas de la personalidad de
                quienes los eligen.
            </p>
            <p>
               Más allá de la venta de fragancias, nuestra misión es ofrecer una experiencia sensorial que hable directamente
               a la individualidad de cada cliente.
            </p>    
            <h3 class="mt-5">Visión</h3>
            <p>
                Como pioneros en la creación de perfumes de alta calidad, aspiramos a ser reconocidos como un referente 
                en el universo de la perfumeria de lujo.
            </p>
            <p>
               Buscamos trascender los límites convencionales, cultivando una conexión emocional con nuestros clientes y consolidandonos
               como un éxito exclusivo que refleje la distinción de quienes optan por la exclusividad de B3njamin Acasio.

            </p>
        </div>
    </div>
</div>
{% endblock %}
