body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #212222;
}

.navbar {
    background-color: #000000; /* Fondo oscuro */
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    padding: 9px 12px;
}

.navbar-brand img {
    max-height: 100px; /* Ajusta este valor para hacer el logo más grande */
    width: auto; 
    margin-right: 30px; 
}

.navbar-brand {
    font-size: 1.5rem;
    color: #080808; /* Texto blanco */
}

.navbar-toggler {
    border-color: #0e0d0d; /* Bordes blancos */
}

.navbar-toggler-icon {
    background-color: #0e0909; /* Icono de toggler blanco */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Texto de los enlaces en blanco */
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #cccccc; /* Texto de los enlaces en blanco al pasar el ratón */
}


.navbar-custom {
    background-color: #000000; /* Color negro */
}

.navbar-custom .nav-link {
    color: #ffffff; /* Color blanco para los enlaces */
}

.navbar-custom .nav-link:hover {
    color: #cccccc; /* Color gris claro para los enlaces al pasar el cursor */
}


.carousel-inner img {
    max-height: 400px;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    border: none;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    color: #080707; /* Color oscuro */
}

.card-text {
    font-size: 1.1rem;
    color: #161616;
}

.btn-primary {
    background-color: #0a0b0c; /* Cambia este color al que prefieras */
    border-color: #050505;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #303131; /* Cambia este color al que prefieras */
    border-color: #46494d;
}

.btn-success {
    background-color: #28a745; /* Cambia este color al que prefieras */
    border-color: #28a745;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-success:hover {
    background-color: #218838; /* Cambia este color al que prefieras */
    border-color: #218838;
}

.btn-custom {
    background-color: #ff5733; /* Elige tu color preferido */
    border-color: #ff5733; /* Elige tu color preferido */
    color: white; /* Color del texto */
}

.btn-custom:hover {
    background-color: #e14a2b; /* Color para el hover */
    border-color: #e14a2b; /* Color para el hover */
}

#cart-count {
    font-size: 14px;
    margin-left: 5px;
}

.dropdown-menu {
    width: 100%;
    left: 0;
}


footer {
    background-color: #0e0d0d; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 15px 0;
}

footer p {
    margin-bottom: 0;
}
